@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100&family=Roboto:wght@100&display=swap");

.contactanos {
  list-style: none;
}


.navbar {
  list-style: none;
}

.navbar__a:hover {
  font-size: 18px;
  font-weight: bold;
}
