.titulo {
    font-family: sans-serif, helvetica;
    text-align: left;
    justify-content: flex;
    padding: 20px;
    margin-left: 30px;
}

.p1 {
    font-family: sans-serif, helvetica;
    text-align: left;
    padding: 10px;
    margin-left: 0px;
    margin-top: 10px;
    max-width: 800px;
}
/* .background{
    min-height: 100vh;
    width: 100%;
} */

.cuerpo {
    height: calc(100vh - 60px);
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}

.argentina {
    float: right;
    margin-top: 30px;
    margin-left: 30px;
    width: 1000px;
    height: 500px;
    size-adjust: 30%;
}

.social-links {
    display: flex;
    padding: 10px;
    margin-right: 5px;
}

.body {
    min-height: 100hvh;
}

.referencias{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(15, 63, 63);
    width:100%;
    backdrop-filter: blur(15px);    
  }
  .referencias-links{
    width: 30%;
    color: #FFFFFF;
  }
  .referencias .titulo h2{
    color: #FFFFFF;
    margin-bottom: 25px;
    border-bottom: 2px solid #00c3ff;
    display: inline-block;
  }
  .referencias-links ul li a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
  }
.referencias-links ul li a:hover{
    color: #FFFFFF;
    padding-left: 5px;
}
.social-links a {
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    background-size: 3px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40;
    border-radius: 50%;
    color: #FFFFFF;
}
.social-links a:hover {
    background-color: #00c3ff;
}
@media(max-width:991px){
    .referencias{
        text-align: center;
    }
    .referencias-links{
        width: 100%;
        margin-bottom: 30px;
    }
}
.footer{
margin-top: 30px;
margin-bottom: 0;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/messiCopa.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    border: 5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.form-box h2{
    font-weight: bold;
    color: rgb(19, 22, 24);
    text-align: center;
}
.imputbox{
    position: relative;
    margin:30px;
    width: 310px;
    border-bottom: 2px solid #FFFFFF;
}
.notificaciones{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.imputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #FFFFFF;
    
}
button{
    width: 100%;
    border: none;
    font-size: 1em;
    font-weight: 600;
    background: #FFFFFF;
}


